---
import { FileUser } from 'lucide-react';

import BaseHeader from '~/components/base/base-header.astro';
import CursorEffect from '~/components/cursor-effect.astro';
import {
  EmailIcon,
  GithubIcon,
  MdiLinkedin,
  TwitterXIcon,
} from '~/components/ui/icons';
import { NAV } from '~/constants';
import MainLayout from '~/layouts/main-layout.astro';
import { useI18n } from '~/lib/i18n';

const { url } = Astro;
const { p, t } = useI18n(url);
---

<MainLayout class="font-serif">
  <CursorEffect />
  <BaseHeader title={`${t('index.name')} ﹒ ukihwa`} />
  <div>
    {/* 소개 */}
    <div class="my-7" set:html={t('index.desc')} />
    <div class="my-7">
      {/* 현재 */}
      <p set:html={t('index.currentWork')} />
      {/* SNS */}
      <div data-animate class="mt-1 flex gap-0.5">
        <a
          style="--lv-wait: 1;"
          class="hover:bg-selection hover:text-body rounded p-1 transition-colors"
          href="mailto:ukihwa@gmail.com"
          aria-label="email"
        >
          <EmailIcon />
        </a>
        <a
          style="--lv-wait: 1;"
          class="hover:bg-selection hover:text-body rounded p-1 transition-colors"
          href="https://github.com/ukihwa"
          target="_blank"
          aria-label="github"
        >
          <GithubIcon />
        </a>
        <a
          style="--lv-wait: 1;"
          class="hover:bg-selection hover:text-body rounded p-1 transition-colors"
          href="https://twitter.com/ukihwa"
          target="_blank"
          aria-label="twitter"
        >
          <TwitterXIcon />
        </a>
        <a
          style="--lv-wait: 1;"
          class="hover:bg-selection hover:text-body rounded p-1 transition-colors"
          href="https://www.linkedin.com/in/ukihwa/"
          aria-label="linkedin"
        >
          <MdiLinkedin />
        </a>
        <a
          style="--lv-wait: 1;"
          class="hover:bg-selection hover:text-body flex items-center gap-1 rounded p-1 transition-colors"
          href="https://ukihwa.github.io/resume/"
          target="_blank"
          aria-label="resume"
        >
          <FileUser className="size-[1em]" />
          <span class="text-xs leading-tight">resume</span>
        </a>
      </div>
    </div>
  </div>
  {/* 나의 공간 */}
  <div class="my-14">
    <div data-animate data-animate-speed="slow" class="flex flex-col gap-14">
      {
        NAV.map((item) => (
          <div style="--lv-wait: 2;">
            <div>
              <a class="link font-bold" href={p(`/${item}`)}>
                {t(`nav.${item}`)}
              </a>
              <span>, {t(`nav.${item}.desc`)}</span>
            </div>
          </div>
        ))
      }
    </div>
  </div>
  <div class="h-14"></div>
</MainLayout>
