---
import BaseFooter from '~/components/base/base-footer.astro';
import BaseHead from '~/components/base/base-head.astro';
import ThemeHeadScript from '~/components/base/theme-head-script.astro';
import { getLangFromUrl, type Language } from '~/lib/i18n';
import type { SEOProps } from '~/lib/schemas/seo-props';

type Props = {
  lang?: Language;
  seo?: SEOProps;
  class?: string;
  pagefind?: boolean;
};

const { seo, pagefind, ...props } = Astro.props;

const lang = props.lang ?? getLangFromUrl(Astro.url);
---

<!doctype html>
<html {lang}>
  <head>
    <BaseHead {...seo} />
    <ThemeHeadScript />
  </head>
  <body>
    <div class="blur-layer" aria-hidden="true"></div>
    <div class="container">
      <main
        class={Astro.props.class}
        {...pagefind && { 'data-pagefind-body': '' }}
      >
        <slot />
      </main>
    </div>
    <BaseFooter />
  </body>
</html>
